.container {
    position: relative;
    padding-inline: var(--content-padding-inline);
}

.products__header {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-4);
}

.header__text {
    display: flex;
    align-items: center;
}

.header__text h3 {
    font-size: var(--fs-h4);
}

.header__text p {
    font-size: var(--fs-p);
    color: var(--color-grey-dark);
}

.desktop__sort {
    display: none;
}

.select {
    border: none;
    outline: none;
}

.option__header {
    font-weight: 700;
}



.desktop__filters {
    display: none;
}

.product__list {
    margin-top: var(--spacing-4);
    display: grid;
    gap: var(--spacing-4);
}

.no__products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no__products h4 {
    font-size: var(--fs-h4);
    color: var(--color-grey-dark);
}

/*================================================ 
    PAGINATE BUTTONS
=================================================*/


@media (min-width: 900px) {
    .mobile__sort {
        display: none;
    }

    .desktop__sort {
        display: flex;
        gap: var(--spacing-4);
    }

     .desktop__sort__left {
        display: flex;
        align-items: center;
        gap: var(--spacing-1);
    }
 
    .desktop__sort__left p {
        font-size: var(--fs-p);
        color: var(--color-grey-dark);
    }

    .icon {
        font-size: var(--fs-h5);
    }

    .desktop__sort__select {
        font-size: var(--fs-p);
        border: none;
        outline: none;
    }

    .product__content{
        display: flex;
        margin-top: var(--spacing-4);
        gap: var(--spacing-6);
    }

    .desktop__filters {
        display: block;
        flex-basis: 50%;
    }

    .product__list__container {
        flex-basis: 50%;
    }

    .product__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
    